.primary_btn {
  color: white;
  background-color: black;
  padding: 15px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 220px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.outline_btn {
  color: #000;
  background-color: #fff;
  padding: 15px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 220px;
  border-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
}
